body {
    background-color:#000;
    color:#fff;
    font-size:16px;
    font-family: 'Dosis', sans-serif;
}

.time {
    font-size:10em;
}
.time-hou {
    width:160px;
    text-align:right;
}
.time-sem {
    width:30px;
    text-align:center;
}
.time-min {
    width:180px;
    text-align:left;
}

.date {
    font-size:.3em;
    margin:0;
}

.weather {
    font-size:5em;
}

.deg {
    font-size:0.6em;
    vertical-align: super;
}
