body {
    background-color:#000;
    color:#fff;
    font-size:16px;
    font-family: 'Dosis', sans-serif;
}
.deg {
    font-size:0.6em;
    vertical-align: super;
}
#main {
    position:absolute;
    top:0;
    right:0;
}
#hours {
    position:absolute;
    top:0;
    right:620px;
    width:170px;
    font-size:10em;
    text-align:right;
}
#colon {
    position:absolute;
    top:-20px;
    right:590px;
    width:30px;
    font-size:10em;
    text-align:center;
}
#minutes {
    position:absolute;
    top:0;
    right:420px;
    width:170px;
    font-size:10em;
    text-align:left;
}
#weather {
    position:absolute;
    top:35px;
    right:180px;
    width:230px;
    font-size:5em;
}
#date {
    position:absolute;
    top:135px;
    right:180px;
    width:220px;
    font-size:1.5em;
}
#weather-extra {
    position:absolute;
    top:45px;
    right:0;
    width:180px;
    font-size:1.5em;
}
.icon-column {
    float:left;
    width:35px;
    text-align:center;
}
#forecast {
    position:absolute;
    top:165px;
    right:0;
    width:400px;
    font-size:1.1em;
}
.forecast-row {
    clear:both;
    height:85px;
    margin-top:10px;
}
.forecast-hour {
    float:left;
    font-size:1.6em;
    width:100px;
    text-align:center;
}
.forecast-hour .hour {
    font-size:0.5em;
    display:block;
}