body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
}

#clock {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

#time {
    font-size: 10em;
}

#sun {
    margin-top: 10px;
}

#colon {
    display: inline-block;
    width: 36px;
    text-align: center;
}

#date {
    font-size: 2em;
}

#weather {
    position: absolute;
    top: 35px;
    right: 0;
    width: 350px;
    font-size: 5em;
}

.smaller {
    font-size: .6em;
    color: #aaa;
}

.gray {
    font-size: .5em;
    color: #666;
}

.icon-column {
    float: left;
    width: 45px;
    text-align: center;
}

#current {
    position: absolute;
    top: 0;
    right: 200px;
    width: 180px;
    text-align: right;
}

#extra {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    font-size: .3em;
}

#line {
    position: fixed;
    top: 256px;
    right: 300px;
    width: 1px;
    height: 100%;
    background-color: #aaa;
    display: none;
}

#forecast {
    position: absolute;
    top: 203px;
    right: 0;
    width: 278px;
    font-size: 2em;
}

#forecast li {
    padding-left: 10px;
}

#forecast li table {
    border: 0 none;
    border-spacing: 1px;
    border-collapse: separate;
}

#forecast li td {
    text-align: center;
    padding: 0 5px;
}

#offline {
    margin-top: 300px;
    font-size: 3em;
    display: none;
}
